<div id='page-wrapper'>
  <div class="mainConatiner">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <center>What's this App?</center>
            </div>
            <div class="panel-body">
              Very Simple to use application, which takes automatically takes your location and tells you your nearest delhi metro station. <br />Also it shows the path you need to follow
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <center>How to use it?</center>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Press Allow when the location pop-up comes</li>
                <li class="list-group-item">Select how will you be going to the station, ie Walking or Driving</li>
                <li class="list-group-item">Entering your name is optional</li>
                <li class="list-group-item">Press Submit and you should have your path!</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
