<div id='page-wrapper'>
  <div class="mainConatiner">

    <div class="container-fluid">
      <div class="row mainRow" >
        <div class="col-md-8">
            <h3 ng-if="timeTaken!=undefined">Time to destination is {{timeTaken}} and distance left is {{distance}}</h3>
        </div>
        <div class="col-md-8">
          <div id="map"></div>
        </div>
        <div class="col-md-4">
          <div class ="panel panel-default">
            <div class ="panel-heading">
              <h2>Welcome</h2>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" ng-model="formData.username" />
              </div>
              <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="text" class="form-control" ng-model="formData.latitude" />
              </div>
              <div class="form-group">
                <label for="longitude">longitude</label>
                <input type="text" class="form-control" ng-model="formData.longitude" />
              </div>
              <label>Mode of Transport</label><br />
              <div class="radio">
              <label><input type="radio" ng-model="formData.transport" value="WALKING">Walking</label>
            </div>
            <div class="radio">
              <label><input type="radio" ng-model="formData.transport" value="DRIVING">Driving</label>
            </div>
              <input type="button" class="btn btn-primary btn-block" value = "Track Me" ng-click="geoL()"/>
              <input type="button" class="btn btn-danger btn-block" value = "Submit" ng-click="submit()"/>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
